<header>
    <nav>
        <li>Hi, {{first_name}}!</a></li>

        <li><a href="/profile/edit">Edit your profile</a></li>
        <li><a href="/signers">See all Signers</a></li>
        <li><a href="/logout">Log Out</a></li>


    </nav>
</header>
