{{> nav }}
<div class="wrap_alignLeft">
    <p class="birdTalk">"Our supporters in <span>{{city}}</span>"</p>
<div class="wrap_namelists">
    {{#signers}}
    <p>
        {{first_name}} {{last_name}}
     </p>
    {{/signers}}

</div>
</div>
<div class="wrap_right">
    <div class="imgBox2">
    </div>
    <p class="img_copyright">This is what we won't do</p>
</div>

{{>footer}}
