<header><h1>Petition title blablablablablabla</h1></header>
<form method="POST">
    <input type="text" name="firstName" placeholder="First Name" />
    <input type="text" name="lastName" placeholder="Last Name" />
    <input type="text" name="signature"id="sig"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

<button name="submit_btn">submit</button>
</form>
<div class="wrap">
    <p>draw your signature here</p>
    <canvas id="signature" width="500" height="100"></canvas>
</div>
