{{> nav}}
<div class="wrap_alignLeft">
<header><p class="sub_text">Please sign!</p></header>
<form method="POST">

    <input type="text" name="signature"id="sig"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

<button name="submit_btn">submit</button>
</form>
<div class="wrap">
    <p>Draw your signature here</p>
    <canvas id="signature" width="500" height="100"></canvas>
</div>
</div>

<div class="wrap_right">

</div>

{{>footer}}
