{{> nav }}
<p class="sub_text">Can you please tell me more about you, human?</p>
<p class="sub_text">But if you don't want to, you don't have to...</p>
<form method="POST">
    <input type="text" name="age" placeholder="Age" />
    <input type="text" name="city" placeholder="City" />
    <input type="text" name="url" placeholder="Homepage" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

<button name="submit_btn">CONTINUE</button>
</form>
