{{> nav }}


<p class="birdTalk">"Your signature looks great! I like it!"</p>
<p class="birdTalk">"We are super happy for your support!"</p>
<img src="{{imgUrl}}" alt="users signature">

<form method="POST">
    <input type="hidden" name="delete" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"><!-- fixme: don't put a session id as a form value, easily hackable by users -->
    <button name="delete" class="btn" value="{{req.session.userId}}" id="delete_btn">{{delete}}</button>
</form>
