<p>We the undersigned demand that the blablablasdfj sadjf asdjf asd;jfldalsf jdsalf lkdsajf dsalkjf aslkdjf ;ldasjflsajd flkadjsf .</p>

<div class="wrap_namelists">
    {{#names}}
    <p>{{first_name}} {{last_name}}</p>
    {{/names}}

</div>
