body {
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 51px 20px 20px 20px;
    min-height: 100vh;
    background: repeating-linear-gradient(
        -55deg,
        #0c0c0c,
        #0c0c0c 10px,
        #000 10px,
        #000 20px
    );
    color: #ddd;
}
nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    background: black;
    border-bottom: 1px solid #ddd;
}
nav li {
    display: inline;
    text-decoration: none;
    padding-right: 15px;
}
nav li a {
    color: #0aefa1;
    text-decoration: none;
}
nav li a:hover {
    text-decoration: underline;
}
h1,
p {
    margin: 0;
}
a {
    color: #0aefa1;
}
.birdTalk {
    font-size: 40px;
    color: white;
    letter-spacing: 6px;
    font-family: "Permanent Marker", cursive;
}
.sub_text {
    font-size: 22px;
}
#main_img {
    padding-top: 10px;
    max-width: 830px;
}
#signature {
    border: 1px dashed #ccc;
    background-color: white;
    cursor: crosshair;
}
#sig {
    display: none;
}
input {
    margin-bottom: 15px;
}
.wrap_namelists p {
    text-transform: capitalize;
}
#delete_btn {
    height: 40px;
    background-color: #0aefa1;
}
