body {
    margin: 0 auto;
    text-align: center;
}
#signature {
    border: 1px dashed #ccc;
    background-color: white;
    cursor: crosshair;
}
#sig {
    display: none;
}
input {
    margin-bottom: 15px;
}
