body {
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    height: 100vh;
    background: repeating-linear-gradient(
        -55deg,
        #0c0c0c,
        #0c0c0c 10px,
        #000 10px,
        #000 20px
    );
    color: #ddd;
}
h1,
p {
    margin: 0;
}
.birdTalk {
    font-size: 40px;
    color: white;
    letter-spacing: 6px;
    font-family: "Permanent Marker", cursive;
}
.sub_text {
    font-size: 22px;
}
#main_img {
    padding-top: 10px;
    max-width: 830px;
}
#signature {
    border: 1px dashed #ccc;
    background-color: white;
    cursor: crosshair;
}
#sig {
    display: none;
}
input {
    margin-bottom: 15px;
}
.wrap_namelists p {
    text-transform: capitalize;
}
footer {
}
